<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>281114331086-atic45f79349mdf3h1knn5e51s7booop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.281114331086-atic45f79349mdf3h1knn5e51s7booop</string>
	<key>API_KEY</key>
	<string>AIzaSyDTy1PTlTCJ9--mNsWbWUUTTzH1alGyKEs</string>
	<key>GCM_SENDER_ID</key>
	<string>281114331086</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myAutoBudget</string>
	<key>PROJECT_ID</key>
	<string>myautobudget-786e2</string>
	<key>STORAGE_BUCKET</key>
	<string>myautobudget-786e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281114331086:ios:4c5d9975e82d6378724d9f</string>
</dict>
</plist>