<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.myAutoBudget.app</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>iCloud.com.example.myAutoBudget</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Приложению требуется доступ к камере для возможности фотографирования чеков и квитанций</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложению требуется доступ к галерее для возможности добавления фото к записям расходов</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Приложению требуется доступ к Вашей геопозиции для возможности сохранения местоположения в записях расходов</string>
</dict>
</plist>
